{% extends "base.html" %}

{% block content %}
<div class="post-grid-container">
    <div class="homepage-post">
        <h3 class="post-heading"> {{post.title|title}}</h3> <aside class="category"> {{post.category}} </aside>
        <br>
        {% include "_editButtons.html" %}

        <div class="post-info">
            Posted on {{post.date_posted.strftime('%d %B, %Y')}}
            <br>
        </div>
        {% if post.header_image %}
        <div class="header-container">
            <img style="object-fit:contain" header_image height="300" src="/static/media/images/{{ post.header_image }}" alt="{{ post.header_image }}">
        {% endif %}
        </div>

        <p> {{post.body | safe | oembed(html=False, urlize_all=False, maxwidth=600, maxheight=600)}} </p>
        </div>

</div>


{% endblock content %}
