.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3; }
  .navigation li {
    float: left; }
    .navigation li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
      .navigation li a:hover:not(.active) {
        background-color: #ddd; }
        .navigation li a.active {
          color: white;
          background-color: #4CAF50; }

.page-heading {
  text-align: center; }

  .main-grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; }

    .each-post-grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px; }

      .homepage-post {
        padding-bottom: 5%; }
        .homepage-post p {
          text-align: justify; }
          .homepage-post h3 {
            margin: none;
            padding: none;
            line-height: 1%; }
            .homepage-post a {
              text-decoration: none;
              color: black; }
              .homepage-post a:hover {
                color: grey; }
                .homepage-post img {
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  width: 100%; }
                  .homepage-post img:hover {
                    opacity: 0.5; }

.post-heading {
  font-size: 50px; }

  .category {
    float: right;
    display: inline; }

    footer {
      position: fixed;
      bottom: 0;
      left: 0; }
